.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  font-weight: bold;
}

.app{
  position:relative;
  margin:auto;
  width:50%;
  border:1px solid black;
  background-color:#d4b8f5;
}

.customertable{
  position:relative;
  margin:auto;
  width:50%
}

.form{
  position:relative;
  margin:auto;
  width:50%;
  padding-top:15px;
}

.list{
  position:relative;
  margin:auto;
  width:50%
}
